
function padLeft(time){
    time = time + ""
    return ("00" + time).slice(time.length)
}

function formatTime(time,isMS = true) { // -- 格式化时间
   if(isMS) time = time / 1000 // -- "ms" to "s" <当time为 ms 时>

    var minutes = Math.floor(time / 60)
    var second = Math.floor(time) % 60
    return padLeft(minutes) + ":" + padLeft(second)
}

function formatCount(num) { // -- 格式化 count 
    num = Number(num)
    if (num > 100000000) {
        return (num / 100000000).toFixed(1) + "亿"
    } else if (num > 10000) {
        return (num / 10000).toFixed(1) + "万"
    } else {
        return num
    }
}

function formateEachEvenySonger (songer_arr){ 
    var songers = ""
    var len = songer_arr && songer_arr.length
    for(var i = 0;i < len; i++){
        songers += songer_arr[i].name + " "
    }
    return songers
}

module.exports = {
    formatTime: formatTime,
    formatCount:formatCount,
    formateEachEvenySonger:formateEachEvenySonger
}